<section class="featured-item-section uk-section uk-section-small uk-section-muted">
  <div class="uk-container">
    <div class="uk-grid-match uk-flex uk-flex-middle uk-grid-collapse uk-background-default uk-text-center uk-box-shadow-medium" uk-grid>
      <div class="uk-width-3-5@m">
        <img 
        data-src="{{ _x('https://picsum.photos/720/500', 'Featured item image url', 'featured-item')|e('esc_url') }}" 
        alt="{{ _x('Alt text', 'Featured item image alt text', 'featured-item')|e('esc_html') }}" 
        width="720" height="500" uk-img>
      </div>
      <div class="uk-width-2-5@m uk-padding-large">
        <h3>{{ _x('Something about us', 'Featured item title', 'featured-item')|e('esc_html') }}</h3>
        <p class="uk-margin-small">{{ _x('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'Featured item description', 'featured-item')|e('esc_html') }}</p>
        <div class="uk-margin-top">
          <a class="feature-link uk-text-uppercase uk-text-emphasis" href="{{ _x('#', 'Featured item link url', 'featured-item')|e('esc_url') }}">{{ _x('Our guarantee', 'Featured item link text', 'featured-item')|e('esc_html') }}</a>
        </div>
      </div>
    </div>
  </div>
</section>